@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  color: rgba(255, 255, 255, 0.577);
}
