@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-color: #F5F5F5;
}

.form-label {
    transition: 0.2s ease all;
    font-weight: 600;
    border-radius: 10px;
}

.form-label.active {
    font-size: 11px;
    transform: translate(0, -125%);
    z-index: 100;
    font-weight: 600;
}

input:focus {
    outline: none;
}

.input-wrapper {
    border: 1px solid #aeaeae;
    border-radius: 10px;
}

.input-wrapper.active {
    border: 1px solid black;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}