@import url(../index.css);

.about-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.about-intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-intro span {
    padding: 5px 10px;
    border-radius: 20px;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.29);
}

.about-description {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 500;
}

.about-cards-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.about-card {
    flex: 1;
    height: 300px;
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.about-card:nth-child(1) {
    background: #1a2332;
    color: white;
}

.about-card:nth-child(2) {
    background: #1e7dd6;
    color: white;
}

.about-card:nth-child(3) {
    background: #f5f5f5;
    color: #000;
}

.about-facts-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.about-facts-section>span {
    font-size: 1.5rem;
    font-weight: 500;
}

.all-facts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.fact-stat {
    font-size: 2rem;
    font-weight: 600;
}

.fact-title {
    font-size: 1rem;
    font-weight: 200;
}