@import url(../index.css);


nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -1.5rem;
}

.brand-logo {
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50vw;
    list-style: none;
    justify-content: space-evenly;
    top: 0;
    background-color: white;
}

.nav-link {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    cursor: pointer;
}

.nav-link:hover {
    border: 1px solid #0000003c;
}